exportClasses(trenaViz)

exportMethods (
   ping,
   raiseTab,
   getSelection,
   setGenome,
   setGraph,
   setStyle,
   showGenomicRegion,
   getGenomicRegion,
   selectNodes,
   getSelectedNodes,
   fit,
   fitSelected,
   getTrackNames,
   removeTracksByName,
   addBedTrackFromDataFrame,
   addBedTrackFromHostedFile,
   addBedGraphTrackFromDataFrame
   )

export(
   trenaViz,
   buildMultiModelGraph,
   addGeneModelLayout
   )

importClassesFrom(methods, character, integer)
importFrom(methods, new)

import(BrowserViz)
import(BiocGenerics)
import(httpuv)
import(jsonlite)
import(Rcpp)
import(graph)
