exportClasses(trenaViz)

exportMethods (
   ping,
   getSelection,
   setGenome,
   setGraph,
   showGenomicRegion,
   getGenomicRegion,
   selectNodes,
   getSelectedNodes
   )

export(
   trenaViz
   )

importClassesFrom(methods, character, integer)
importFrom(methods, new)

import(BrowserViz)
import(BiocGenerics)
import(httpuv)
import(jsonlite)
import(Rcpp)
import(graph)
